body {
	font-family: Georgia, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #6D6E71;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.clipped {
	overflow: hidden;
}

.purple-bg {
	background: #7F7D93;
}

.light-purple-bg {
	background: #E6E7E8;
}

.light-blue-bg {
	background: #E2F0FB;
}

.header {
	padding: 50px 0px;
}

.header .header-logo {
	padding: 0px;
}

.header .main-nav {
	margin-top: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header .main-nav .nav-link {
	text-transform: uppercase;
	margin: 6px 9px;
	color: #6D6E71;
	padding: 0px 5px;
}

.header .main-nav .nav-item:hover {
	background: #F5F5F5;
}

.header .main-nav .nav-item:hover .nav-link {
    text-decoration: none;
}

.header .main-nav .nav-item .sub-nav {
	display: none;
	position: absolute;
	left: 0px;
	background: #FFF;
	width: 100%;
	padding: 5px;
	margin: 0px 15px;
	z-index: 1;
}

.header .main-nav .nav-item:hover .sub-nav {
	display: flex;
}

.header .main-nav .nav-item .sub-nav .nav-link {
	text-transform: lowercase;
	font-size: 0.85rem;
	margin-right: 18px;
	color: #6D6E71;
	padding: 0px 2px;
}

.header .main-nav .nav-item .sub-nav .nav-item:hover {
	background: #FFF;
}

.header .main-nav .nav-item .sub-nav .nav-link:hover {
	text-decoration: underline;
}

.header .main-nav .nav-item.active {
	background: #F5F5F5;
}

.header .main-nav .nav-item.active .sub-nav {
	display: flex;
	background: #FFF;
	z-index: 0;
}

.header .main-nav .nav-item.active .sub-nav .nav-item {
	background: #FFF;
}



.circle {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    color: #fff;
    line-height: 500px;
    
}

.circle-content {
	padding: 80px;
	padding: 80px 100px;
}

.circle-content h1 {
	font-size: 50px;
	padding-bottom: 20px;
}

.circle-content h3 {
	font-size: 15px;
	line-height: 150%;
}

.circle-image {
	background: url('../img/stones2.jpg');
}

.circle.left {
	left: -300px;
	z-index: -10;
}

.circle.right {
	right: -300px;
	z-index: -10;
}

.home-footer {
	margin-top: 30px;
	text-align: center;
}

.sidebar-img {
	width: 200px;
	height: 200px;
}

.content {
	padding-left: 65px;
}

.content h1 {
	font-weight: bold;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	color: #8689C3;
}

.content hr {
	background-color: #8689C3; 
	height: 2px; 
	border: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.content hr:before {
    content: " ";
	width: 80px;
	height: 5px;
	position: absolute;
	margin-top: -2px;
	border-radius: 3px;
	border: 1px solid #8689C3;
	background-color: #8689C3;
}